.home-admin-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-admin-homeadmin {
  width: 100%;
  height: 832px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(245, 240, 237, 1);
}
.home-admin-rectangle12 {
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 141px;
  position: absolute;
}
.home-admin-text {
  top: 55px;
  color: rgba(0, 0, 0, 1);
  right: 76px;
  width: 153px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-admin-text02 {
  top: 37px;
  left: 168px;
  color: rgba(18, 17, 17, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: Inika;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-admin-logofixesgul1 {
  top: 15px;
  left: 21px;
  width: 111px;
  height: 110px;
  position: absolute;
}
.home-admin-rectangle25 {
  top: 212px;
  left: 77px;
  width: 1139px;
  height: 579px;
  position: absolute;
  border-radius: 68px;
}
.home-admin-text07 {
  top: 278px;
  left: 132px;
  color: rgba(0, 0, 0, 1);
  width: 661px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Salsa;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-admin-text09 {
  top: 561px;
  left: 132px;
  color: rgba(0, 0, 0, 1);
  width: 661px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Salsa;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-admin-text11 {
  top: 465px;
  left: 132px;
  color: rgba(0, 0, 0, 1);
  width: 661px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Salsa;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-admin-text13 {
  top: 369px;
  left: 132px;
  color: rgba(0, 0, 0, 1);
  width: 661px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Salsa;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-admin-text15 {
  top: 55px;
  left: 931px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
